body {
  background-image: url(<img src="https://i.ibb.co/wrsSJxM9/BGK-logo-darkredimprint-500px.png" alt="BGK logo darkredimprint 500px" border="0">);
   background-repeat: no-repeat;
background-position: center;
 
}
   
