body {
  background-image: url(https://i.ibb.co/qMntzWSF/impringt-logo-red.png);
   background-repeat: no-repeat;
background-position: right 50% bottom 125%;
 
}

.message{
  text-align: justify;
  text-align-last: center;
margin:300px 280px 0px 280px;
font-family: "Lucida Console", "Courier New", monospace;
 font-weight: 570;
 font-size: .8rem;
}
