.homepage background {

    background-image: url('<img src="https://i.ibb.co/7xFrFHP5/BGK-logo-dustypink-700px.png" alt="BGK logo dustypink 700px" border="0">');
    background-size: auto;
    background-repeat: no-repeat;

}
